* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  text-align: center;
}

.box {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.discount {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 0;
  right:0;
  background-color: green;
}

.red {
   background-color: red
 }

.box .heart {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.box:hover .heart{
  display: block;
  color: red;
}
